<!-- Template Usuario -->
{% extends 'habitaciones/base2.html' %}
{%load static%}

{% block content %}

<h1>Hostal SevenStars LISTAR HAB</h1>

<ul class="list-group">

	<thead>
		<tr>nombre</tr>
	</thead>
    
    <tbody>
    	{% if object_list %}
    	   {% for habitaciones in object_list %}
    	   <tr>
    	   	<td>{{habitaciones.nombre}}</td>
    	   	<td>{{habitaciones.precio}}</td>
    	   	<td>
    	   		
    	   		<a class="btn btn-primary btn-xs" href="{% url 'habitaciones:editar_hab' habitaciones.pk %}">editar</a>
    	   		<a class="btn btn-primary btn-xs" href="{% url 'habitaciones:eliminar_hab' habitaciones.pk %}">eliminar</a>
    	   	
    	   	</td>
    	   </tr>
    	   {% endfor %}
    	{% endif %}
    </tbody>

    <!-- 
    {% for habitacion in object_list %}
	<li class="list-group-item">
		<img src="{{ habitacion.image.url}}" alt='imagen hab' width="200" height="200" >
	    {{habitacion.nombre}}
	    {{habitacion.precio}}

	    {% if habitacion.estado == 'D' %}
	      <span class="text-success"> Disponible</span>
	    {% elif habitacion.estado == 'O'%}
	      <span class="text-danger"> Ocupado </span>
	    {% else %}
	      <span class="text">En Mantención </span>
	    {% endif%}
	</li>
    {% endfor%}
    -->

 </ul>

{% endblock %}
