{% extends 'habitaciones/base2.html' %}
{%load static%}

{% block content %}

<h1>habitaciones form</h1>

<form accept="#" method="post" enctype="multipart/form-data" class="form-horizontal">
	
{%csrf_token%}
	<div class="row" form-group>
		<div class="col" col-md-3><label for="text-input" class="form-control-label">nombre</label></div>
		<div class="col-12 col-md-9">{{form.precio}}</div>
	</div>

	<div class="text-center">
		<button type="submit" class="btn btn-primary">Registrar</button>
		<button type="submit" class="btn btn-danger">Cancelar</button>
	</div>
	
</form>
{% endblock %}